@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #3a332b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Sans TC", Arial, Helvetica, sans-serif;
}

button:not(:disabled) {
  cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
